body {
    background-color: black;
    font-family: Arial;
}
h1, h2, h3, h4, h5, h6{
    color: #ffffff;
    font-size: medium;
}

h7 {
color: #ffffff;
font-size: 7px;
}

html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}