body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232323; /* HL2 dark industrial */
    color: #b6c2c9; /* HL2 UI text color */
    font-family: 'Verdana', 'Tahoma', 'Arial', sans-serif;
    letter-spacing: 0.5px;
    text-shadow: 0 1px 2px #000a;
}

canvas {
    border: 1px solid #000000;
    background-color: #555555;
}

.BG { 
    width: min-content;
    height: min-content;
}