body {
    background-color: cyan;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;  /* Ensure full height for centering */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: black;
    text-align: center;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
}

button {
    margin: 10px;
    background-color: burlywood;
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

.button1 {border-radius: 50px;}
