body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;  /* Ensure full height for centering */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    color: white;
    text-align: center;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
}
