body {
    margin: 0;
    overflow: hidden;
    background: #111;
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

#timer {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #ffcc00;
    text-shadow: 0 0 10px #ffcc00;
}
.statusBox {
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,0.6);
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    pointer-events: none;
}


#p1Status {
    top: 10px;
    left: 10px;
}

#p2Status {
    top: 10px;
    right: 10px;
}


canvas {
    display: block;
    background: #222;
}
