body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: #fff;
    font-family: Arial, sans-serif;
}

canvas {
    border: 1px solid #000000;
    background-color: darkgray;
}

.BG { 
    width: min-content;
    height: min-content;
}