* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(70, 70, 78);
}

h1,
h2,
p {
  font-family: 'Noto Sans', sans-serif;
  color: rgb(244, 244, 256);
}

button {
  width: 13rem;
  height: 5rem;
  color: rgb(24, 24, 24);
  font-size: 25pt;
  background-color: rgb(244, 244, 256);
  border: none;
  margin: 2.5rem auto;
  display: block;
}

.btn-nope {
  display: none;
}

.btn-mute {
  display: none;
}

.btn-mute-visible {
  display: block;
}

.disable {
  background-color: red;
  color: white;
}

.canvas {
  margin:0 auto;
  display:block;
  background-color:rgb(200,200,200);
}