body {
    background-color: black;
    font-family: Arial;
    font-size: xx-small;
}
h1, h2, h3, h4, h5, h6, h7{
    color: #ffffff;
}

html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}