body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(ellipse at center, #2a003f 0%, #000000 100%);
    color: #b8eaff;
    font-family: 'Orbitron', 'Arial', sans-serif;
    letter-spacing: 1px;
    text-shadow: 0 0 8px #00ffea, 0 0 2px #fff;
}

canvas {
    border: 2px solid #00fff6;
    background: radial-gradient(ellipse at center, #3a00a6 0%, #1a0033 100%);
    box-shadow: 0 0 50px #00fff6, 0 0 16px #fff inset;

}

.BG { 
    width: min-content;
    height: min-content;
}