* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.background {
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
}

.bird {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 40vh;
    left: 30vw;
    z-index: 100;
    transition: transform 0.1s ease-in-out;
}

.pipe_sprite {
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 70vh;
    width: 6vw;
    background-color: green;
    border: 3px solid darkgreen;
    border-radius: 5px;
}

.message {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 10vh;
    font-weight: 100;
    color: black;
    top: 12vh;
    left: 20vw;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.score {
    position: fixed;
    z-index: 10;
    height: 10vh;
    font-size: 10vh;
    font-weight: 100;
    color: goldenrod;
    top: 0;
    left: 0;
    padding: 10px;
}

.score_val {
    color: gold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.high_score {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: gold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    z-index: 10;
}

.high_score_val {
    color: goldenrod;
}

.BG{

}