body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url('./resrc/skybox.png');
}

canvas {
    border: 2px solid white;
}
h1, h2 {
    color: azure;
}