body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #70c5ce, #38a1db);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.menu-container {
    text-align: center;
    background: #fff;
    padding: 20px 40px;
    border: 5px solid #ffd700;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.menu-title {
    font-size: 36px;
    font-weight: bold;
    color: #ff4500;
    margin-bottom: 20px;
}

.menu-button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: #ff4500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.menu-button:hover {
    background: #e03e00;
}