body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111;
    color: #0f0;
    height: 100vh;
}

canvas {
    background-color: #000;
    display: block;
    margin: 20px 0;
    border: 2px solid #0f0;
}

h1 {
    margin: 10px;
}

#score, #status {
    font-size: 1.2em;
}
